version: '3.8'

services:
  app:
    image: ghcr.io/laihantao/waba-backend:latest
    container_name: nodejs_backend_app
    restart: always
    ports:
      - "80:3000"
    env_file:
      - .env
    networks:
      - app_network
    depends_on:
      - postgresdb

  postgresdb:
    image: postgres:16-alpine
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: pgAdmin
      POSTGRES_PASSWORD: pgAdmin
      POSTGRES_DB: admin-panel
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - app_network

volumes:
  db_data:

networks:
  app_network:
    driver: bridge
